# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [18]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [19]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

df = pd.read_csv(url, sep = '\t')

### Step 3. Assign it to a variable called chipo.

In [20]:
chipo = df

### Step 4. How many products cost more than $10.00?

In [21]:
chipo['price_float'] = pd.to_numeric(chipo.item_price.str.slice(1))

In [22]:
(chipo['price_float'] > 10).sum()

1130

In [23]:
product_prices = chipo.groupby('item_name').agg({'price_float' : 'max'})

In [24]:
product_prices.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 6 Pack Soft Drink to Veggie Soft Tacos
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price_float  50 non-null     float64
dtypes: float64(1)
memory usage: 800.0+ bytes

In [25]:
(product_prices.price_float > 10).sum()

31

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [26]:
chipo[(chipo['item_name'] == 'Chicken Bowl') & (chipo['quantity'] == 1)]

,order_id,quantity,item_name,choice_description,item_price,price_float
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75,8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49,8.49
42,20,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$11.25,11.25
...,...,...,...,...,...,...
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$11.25,11.25
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75,8.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75,8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75,8.75
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75,8.75

### Step 6. Sort by the name of the item

In [27]:
product_prices.sort_index()

                                       price_float
item_name
6 Pack Soft Drink                            12.98
Barbacoa Bowl                                11.75
Barbacoa Burrito                             11.75
Barbacoa Crispy Tacos                        18.50
Barbacoa Salad Bowl                          11.89
Barbacoa Soft Tacos                          11.75
Bottled Water                                15.00
Bowl                                         22.20
Burrito                                       7.40
Canned Soda                                   4.36
Canned Soft Drink                             5.00
Carnitas Bowl                                35.25
Carnitas Burrito                             18.50
Carnitas Crispy Tacos                        17.98
Carnitas Salad                                8.99
Carnitas Salad Bowl                          11.89
Carnitas Soft Tacos                          11.75
Chicken Bowl                                 32.94
Chicken Burrito                              35.00
Chicken Crispy Tacos                         17.50
Chicken Salad                                10.98
Chicken Salad Bowl                           22.50
Chicken Soft Tacos                           21.96
Chips                                         6.45
Chips and Fresh Tomato Salsa                 44.25
Chips and Guacamole                          17.80
Chips and Mild Fresh Tomato Salsa             3.00
Chips and Roasted Chili Corn Salsa            5.90
Chips and Roasted Chili-Corn Salsa            2.39
Chips and Tomatillo Green Chili Salsa         5.90
Chips and Tomatillo Red Chili Salsa           5.90
Chips and Tomatillo-Green Chili Salsa         4.78
Chips and Tomatillo-Red Chili Salsa           7.17
Crispy Tacos                                  7.40
Izze                                          3.39
Nantucket Nectar                              6.78
Salad                                         7.40
Side of Chips                                13.52
Steak Bowl                                   26.07
Steak Burrito                                27.75
Steak Crispy Tacos                           17.98
Steak Salad                                   8.99
Steak Salad Bowl                             23.78
Steak Soft Tacos                             18.50
Veggie Bowl                                  16.98
Veggie Burrito                               33.75
Veggie Crispy Tacos                           8.49
Veggie Salad                                  8.49
Veggie Salad Bowl                            11.25
Veggie Soft Tacos                            16.98

### Step 7. What was the quantity of the most expensive item ordered?

In [30]:
chipo.sort_values(by = "item_price", ascending = False)

,order_id,quantity,item_name,choice_description,item_price,price_float
2624,1042,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Sour Cream,...",$9.39,9.39
4419,1762,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$9.39,9.39
4036,1615,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$9.39,9.39
1825,738,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",$9.39,9.39
3115,1243,1,Carnitas Salad Bowl,"[Tomatillo Green Chili Salsa, [Rice, Pinto Bea...",$9.39,9.39
...,...,...,...,...,...,...
3145,1254,1,Canned Soda,[Diet Dr. Pepper],$1.09,1.09
414,180,1,Canned Soda,[Dr. Pepper],$1.09,1.09
3162,1262,1,Canned Soda,[Coca Cola],$1.09,1.09
821,338,1,Canned Soda,[Coca Cola],$1.09,1.09
1457,591,1,Canned Soda,[Sprite],$1.09,1.09

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [31]:
chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]

len(chipo_salad)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [32]:
chipo_drink_steak_bowl = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
len(chipo_drink_steak_bowl)

20

In [33]:
# Thank you!